<div ng-include src="'/app/common.html'"></div>



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">PROFILE DETAILS</h3>
        <div ng-controller="accountController" class="action_buttons_header" style="text-align: right;">
            <input type="submit" ng-if="!iAmFollowing" ng-click="doFollow()" class="btn btn-info" value="Follow"/>
            <div ng-if="iAmFollowing"><button class="btn btn-success">Currently Following</button></div>
        </div>
    </div>
    <div class="panel-body">

        <p>
            Name: {{nameForUser1}}
        </p>
        <p>Email: {{emailAddressForUser1}}</p>


        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">FOLLOWERS</h3>
            </div>

            <!-- Table -->
            <table class="table">
                <tr ng-repeat="follower in followersForUser1">
                    <td><a ng-href="#/account/{{follower}}">{{follower}}</a></td>
                </tr>
            </table>
        </div>

        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">FOLLOWING</h3>
            </div>

            <!-- Table -->
            <table class="table">

                <tr ng-repeat="following in followingForUser1">
                    <td><a ng-href="#/account/{{following}}">{{following}}</a></td>

                </tr>
            </table>
        </div>


        <div class="panel panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">MESSAGES</h3>
            </div>

            <div ng-repeat="usermsg in userMessagesPosted">
                <p> {{usermsg.messageDetail}} </p>
                <p>Message posted on: {{usermsg.messageCreatedDate}}</p>

            </div>
        </div>

    </div>
</div>



