<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Edit Profile
            </a>
        </li>
        <li>
            <a href="#/profile">Profile</a>
        </li>
        <li>
            <a href="#/feed">Messages</a>
        </li>
        <li ng-controller="followerController">
            <a href="#/followers">Followers <span class="badge">{{numberOfFollowers}}</span></a>
        </li>
        <li ng-controller="followingController">
            <a href="#/following">Followees <span class="badge">{{numberOfFollowing}}</span></a>
        </li>
        <li>
            <a href="#/mayKnow">People You May Know</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="#/logout">Logout</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->



<div class="row">
    <div class="col-lg-6" style="float: right;">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="text" placeholder="Search for messages...">
      <span class="input-group-btn">
        <button href="#/searchDetail" class="btn btn-default" type="submit" ng-click="vm.searchResults('abc')">Go!</button>
      </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<br>