<div nav-bar></div>

<div class="container">

<div class="row text-center">

<div class="panel panel-default">
    <div class="panel-heading">DEVELOPERS</div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Paul Michalek</h3>
                </div>
                <br>

                <div>
                    <p>Graduate Student- University of Minnesota</p>
                    <p>Email: mich0044@umn.edu</p>
                </div>

                <div style="padding:7px" ng-show="following.length==0">Not following anyone right now.</div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Sushant Dhakal</h3>
                </div>
                <br>

                <div>
                    <p>Graduate Student- University of Minnesota</p>
                    <p>Email: dhaka007@umn.edu</p>
                </div>

            </div>

        </div>
    </div>
</div>

</div>

</div>

