<div nav-bar></div>

<div class="container">

<div class="row text-center">

	<h2><i class="fa fa-heart icon-left color-two"></i> Users You Are Following</h2>

	<div ng-show="following.length>0">
		
	    <h3 ng-repeat="follower in following">
	        <a id="following_{{follower.handle}}" ng-href="#/account/{{follower.handle}}">{{follower.handle}}</a>
	    </h3>
		
	</div>

	<div class="paddig" ng-show="following.length==0">
		<p> You have no followers at this time. How about go recruit a few? </p>
	</div>

</div>
	</div>