<div class="container">

    <div class="header clearfix">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="col-md-4 logo navbar-text">
                    <i class="fa fa-envira fa-2x logo-icon color-one pull-left"></i><span class="logo-title">Tweedle</span> <span class="logo-title" style="color: #6f9a37">Dee</span>
                </div>
                <ul class="nav navbar-nav navbar-right" style="margin-top:5px">
                    <li ng-class="{'active':pageTitle=='Login'}"><a href="#/login">Login</a></li>
                    <li ng-class="{'active':pageTitle=='About'}"><a href="#/about">About</a></li>
                    <li ng-class="{'active':pageTitle=='Contact'}"><a href="#/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

<div class="row">
    <div class="col-md-6 text-center" style="float:none;margin:0 auto;">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1)"><i class="fa fa-hand-peace-o fa-lg color-two" style="margin-right:5px;"></i>{{alert.msg}}</uib-alert>
    </div>
</div>

    <div ng-show="!showSignup" id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        
        <div class="panel panel-default" >
        
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>     

            <div style="padding-top:30px" class="panel-body" >

                <div id="alertMessage" ng-show="message!=''" id="login-alert" class="alert alert-danger col-sm-12">{{message}}</div>

                <div id="errorMessage" ng-show="error!=''" class="alert alert-danger col-sm-12">{{error}}</div>
                    
                <form id="loginform" class="form-horizontal" role="form">
                            
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-model="loginAttempt.username" id="username" type="text" class="form-control" name="username" value="" placeholder="handle">                                        
                    </div>
                        
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-model="loginAttempt.password" id="password" type="password" class="form-control" name="password" placeholder="password">
                    </div>
                         
                    <div class="input-group">
                      <div class="checkbox">
                        <label>
                          <input id="loginRemember" ng-model="loginAttempt.rememberMe" type="checkbox" name="remember" value="1"> Remember me
                        </label>
                      </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">          
                          <input id="submitBtn" type="submit" ng-click="doLogin()" class="btn btn-primary" value="Login">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                Don't have an account!
                                <a href="#/signup">Sign Up Here</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

