
<ul class="list-unstyled list-inline message-paging">
    <li ng-show="start>1" ng-click="pageprev()">
        <span ng-click="pageprev()" class="message-nextprev">prev</span>
    </li>

    <li ng-show="searchTerm==''">
        <i class="fa clickable" ng-class="{'fa-spinner fa-spin':loading,'fa-refresh':!loading}" ng-click="refresh()"></i> Showing {{max}} of your most recent messages <span ng-show="offset<messageCount">(<a class="clickable" ng-click="showmore()">show more</a>)</span> <span ng-show="offset==messageCount">(<a ng-click="refresh()">refresh list</a>)</span>
    </li>

    <li ng-show="searchTerm!=''">
        <i class="fa clickable" ng-class="{'fa-spinner fa-spin':loading,'fa-refresh':!loading}" ng-click="refresh()"></i> Found {{messageCount}} message. Showing {{max}} of the most recent. <span ng-show="offset<messageCount">(<a class="clickable" ng-click="showmore()">show more</a>)</span> <span ng-show="offset==messageCount">(<a ng-click="refresh()">refresh list</a>)</span>
    </li>

    <li ng-show="end<messageCount">
        <span ng-click="pagenext()" class="message-nextprev">next</span>
    </li>

</ul>

<div id="userMessagesList" class="message-list-container">
    
    <div id="messageId{{message.id}}" class="message-box" ng-repeat="message in messages | orderBy:'message.dateCreated'">

        <h3 id="message_{{message.handle}}_text">{{message.text}}</h3>

        <p id="messageId{{message.id}}_date">{{message.dateCreated | date:"MMM d"}}</p>

        <p>
            <a href="#/account/{{message.handle}}"><i class="fa fa-at fa-lg icon-left"></i>{{message.handle}}</a>
        </p>
        
        <i class="fa fa-retweet fa-lg" ng-click="addMessage(message.text)"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-trash fa-lg" title="Delete Message" ng-show="isLoggedInUser" ng-click="deleteMessage(message.id, message.text)"></i>

    </div>

</div>