
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row">
        
        <div class="col-sm-2 navbar-text">
            <i class="fa fa-braille fa-2x logo-icon color-one pull-left"></i> <span class="logo-title">Tweedledee</span>
        </div>

        <div class="col-sm-5 col-sm-push-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/profile"><i class="fa fa-home color-one" aria-hidden="true"></i> Home </a>
                </li>
                <li>
                    <a href="#/feed"><i class="fa fa-envelope color-one" aria-hidden="true"></i> Messages </a>
                </li>
                <li>
                    <a href="#/followers"><i class="fa fa-users color-one" aria-hidden="true"></i> Followers <i class="badge">{{followers.length}}</i></a>
                </li>
                <li>
                    <a href="#/following"><i class="fa fa-heart color-one" aria-hidden="true"></i> Following <i class="badge">{{following.length}}</i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3 pull-right" ng-controller="searchController">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input id="searchBox" type="text" ng-model="searchText" class="form-control input-sm" placeholder="Search Tweedledee..">
                    <div class="input-group-btn">
                        <button id="searchBtn" class="btn btn-prmiary btn-sm" type="submit" ng-click="search()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>  
    </div>

</nav>

<div class="alert text-center fadein fadeout" ng-class="[alert.class]" ng-show="alert.active">
   <i class="fa fa-users fa-lg icon-left" aria-hidden="true"></i><span ng-bind-html="alert.mesg"></span>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/contact"><span class="" aria-hidden="true"></span> Contact</a>
            </li>
            <li>
                <a id="logoutLink" ng-click="doLogout()" href="#/login?logout=1"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a>
            </li>
        </ul>
    </div>
</nav>
