<div id="pageload" class="page-loading-shadow fadein fadeout" ng-show="loading"></div>
<div id="pageload-text" class="page-loading-container fadein fadeout" ng-show="viewLoading">
    <div class="page-loading-text"><i class="fa fa-spinner fa-spin fa-3" style="margin-right:5px;">
    </i>Loading...</i>
    </div>
</div>

<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a>
            </li>
            <li>
                <a href="#/feed"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a>
            </li>
            <li ng-controller="followerController">
                <a href="#/followers"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Followers <span class="badge" ng-show="followers.length>0">{{followers.length}}</span></a>
            </li>
            <li ng-controller="followingController">
                <a href="#/following"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Following <span class="badge" ng-show="following.length>0">{{following.length}}</span></a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contact</a>
            </li>
            <li>
                <a href="#/login?logout=1"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a>
            </li>
        </ul>
        <span ng-show="showLoggedInUser" class="navbar-text navbar-right"><a href="#/profile" class="navbar-link">@ {{loggedInUserHandle}}</a></span>
    </div>
</nav>

<div class="row search-row">
    <div class="col-md-6 search-col">
        <ul class="list-inline">
        <li><div class="view-handle">@{{handle}}</div></li>
        
        <li><div class="" ng-show="!isLoggedInUser && !isFollowing"><button id="followMeBtn" class="btn btn-warning btn-xs" ng-click="followme()">Follow!</button></div></li>

        <li><div id="followingMessage" class="" ng-show="!isLoggedInUser && isFollowing"><i id="followMeIcon" class="glyphicon glyphicon-ok ok-check" ng-click="followme()"></i> Following</div></li>
        </ul>
    </div>

    <div class="col-md-6 search-col" ng-controller="searchController">
      
      <form class="form-search" style="padding:7px">
          <div class="input-group">
              <input id="searchBox" ng-model="searchTerm" type="text" class="form-control" placeholder="Search messages..." ng-focus="reset()">
              <span class="input-group-btn">
                  <button id="searchBtn" type="submit" class="btn btn-primary" ng-click="search()">GO!</button>
              </span>
          </div>
      </form>

      <div id="searchResultsNotFound" ng-show="hasSearchResults && messages.length==0" class="search-results">
            No Messages Found. <span class="btn btn-link btn-xs" ng-click="reset()">clear</span>
        </div>
      <div id="searchResults" class="search-results" ng-show="messages.length>0">
            Found {{messages.length}} messages for <em>{{searchTerm}}</em> <span class="btn btn-link btn-xs" ng-click="reset()">clear</span>
            
            <div class="message-list">
                <ul class="list-unstyled text-left">
                    <li ng-repeat="mesobj in messages | orderBy:'mesobj.message.dateCreated'">
                        <span id="messageId{{mesobj.message.id}}_text" class="message-text">{{mesobj.message.text}}</span> <a href="#/account/{{mesobj.handle}}">{{mesobj.handle}}</a>
                    </li>
                </ul>
            </div>

      </div>

    </div>
</div>


<div class="alert" ng-class="{'alert-success':(alert.class=='success'),'alert-danger':(alert.class=='danger')}" ng-show="alert.active" ng-click="alert.active=false"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>{{alert.mesg}}</div>

