<p>Currently logged in: {{currentUserLoggedIn}}</p>

<div ng-include src="'/app/common.html'" ng-controller="searchController"></div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">YOUR PROFILE</h3>
        </div>
    <div class="panel-body">

        <p id="profileName">
            Name: {{nameForUser}}
        </p>
        <p id="profileEmail">Email: {{emailAddressForUser}}</p>


        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">FOLLOWERS</h3>
            </div>

            <!-- Table -->
            <table class="table" id="followerList">
                <tr ng-repeat="follower in followersForUser">
                    <td><a ng-href="#/account/{{follower}}">{{follower}}</a></td>
                </tr>
            </table>
        </div>

        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">FOLLOWING</h3>
            </div>

            <!-- Table -->
            <table class="table" id="followingList">
                <tr ng-repeat="following in followingForUser">
                    <td><a ng-href="#/account/{{following}}">{{following}}</a></td>
                </tr>
            </table>
        </div>

    </div>

</div>

  <div ng-include="'/app/message-list.html'" ng-controller="messagesController"></div>

