<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row">

        <div class="col-sm-2 navbar-text">
            <i class="fa fa-braille fa-2x logo-icon color-one pull-left"></i> <span class="logo-title">Tweedledee</span>
        </div>
    </div>
</nav>
<div id="createNewAccount" class="col-xs-4" ng-controller="createAccountController">
    <div class="signup-wrapper" style="margin-left:100%;">
        <h1 class="signuph1">Join TweedleDee today.</h1>
    <div style="font-weight: bold; color: red;" ng-show="signupMsgErr">Error while creating a new account</div>
    <form name="createForm" role="form" autocomplete="off">
        <div class="form-group">
            <input placeholder="Full Name" ng-model="c_fullName" id="c_fullName" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <input placeholder="Username" ng-model="c_username" id="c_username" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <input placeholder="Password" ng-model="c_password" id="c_password" class="form-control" type="password"/>
        </div>

        <div class="form-group">
            <input placeholder="Confirm Password" ng-model="c_confirm_password" id="confirm_password" class="form-control" type="password"/>
        </div>

        <div class="form-group">
            <input placeholder="E-mail Address" ng-model="c_email" id="c_email" class="form-control" type="email"/>
        </div>
        <br>

        <div style="width: 100%; overflow: hidden;">
            <div style="float: left;"><input type="submit" class="btn btn-primary" ng-click="signupOne()" value="Create New Account"/></div>
            <div style="float: right;"><span class="signinP"> Already have account? <a href="#/login">Sign In</a></span></div>


        </div>

    </form>
        <br>
        <p class="termsAndConditionP">By signing up, you agree to the Terms of Service and Privacy Policy of TweedleDee, including cookie use.</p>

        <br><br>
    </div>
    </div>
