
<div ng-include src="'/app/nav-bar.html'" ng-controller="navController"></div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" ng-show="isLoggedInUser">YOUR PROFILE</h3>
        <h3 class="panel-title" ng-show="!isLoggedInUser">USER PROFILE</h3>
    </div>
    <div class="panel-body">

<div class="row" style="margin-bottom:10px;">
        <div class="col-md-6">
            <ul class="list-inline">
            <li><span class="user-detail-label">Name:</span> <span id="profileName" ng-show="!showNameInput" class="user-detail-text" ng-class="{'user-detail-logged':isLoggedInUser}" ng-click="edit('name')">{{name}}</span></li>

            <li><input id="editNameInput" ng-model="name" class="form-control" ng-show="isLoggedInUser && showNameInput"></li> 

            <li><button ng-show="showNameInput" class="btn btn-warning btn-xs" ng-click="edit('name')">cancel</button> 
            <button ng-show="isLoggedInUser && showNameInput" class="btn btn-warning btn-xs" ng-click="save()">save</button></li>
            </ul>
        </div>
        <div id="profileEmail" class="col-md-6">
            <ul class="list-inline">
            <li>
            <span class="user-detail-label">Email:</span> <span id="profileName" ng-show="!showEmailInput" class="user-detail-text" ng-class="{'user-detail-logged':isLoggedInUser}" ng-click="edit('email')">{{email}}</span></li>
            
            <li><input id="editEmailInput" ng-model="email" class="form-control" ng-show="isLoggedInUser && showEmailInput"> </li>

            <li><button ng-show="showEmailInput" class="btn btn-warning btn-xs" ng-click="edit('email')">cancel</button> 
            <button ng-show="isLoggedInUser && showEmailInput" class="btn btn-warning btn-xs" ng-click="save()">save</button></li>
            </ul>
        </div>
 </div>       

<div class="row">
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">FOLLOWERS</h3>
            </div>

            <!-- Table -->
            <table ng-show="followers.length>0" class="table" id="followerList">
                <tr ng-repeat="follower in followers" style="cursor: pointer;">
                    <td><a id="follower_{{follower.handle}}" ng-href="#/account/{{follower.handle}}">{{follower.handle}}</a></td>
                </tr>
            </table>

            <div style="padding:7px" ng-show="followers.length==0">No followers.</div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">FOLLOWING</h3>
            </div>

            <!-- Table -->
            <table ng-show="following.length>0" class="table" id="following">
                <tr ng-repeat="follower in following" style="cursor: pointer;">
                    <td><a id="following_{{follower.handle}}" ng-href="#/account/{{follower.handle}}">{{follower.handle}}</a></td>
                </tr>
            </table>

            <div style="padding:7px" ng-show="following.length==0">Not following anyone right now.</div>
        </div>

    </div>
</div>

<div class="row">
    <div ng-include="'/app/message-list.html'" ng-controller="messagesController"></div>
</div>

    </div>

</div>


