
<div ng-include src="'/app/nav-bar.html'" ng-controller="navController"></div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">YOUR PROFILE</h3>
    </div>
    <div class="panel-body">

        <p id="profileName">
            Name: {{name}}
        </p>
        <p id="profileEmail">Email: {{email}}</p>


        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">FOLLOWERS</h3>
            </div>

            <!-- Table -->
            <table class="table" id="followerList">
                <tr ng-repeat="follower in followers">
                    <td><a ng-href="#/account/{{follower.handle}}">{{follower.handle}}</a></td>
                </tr>
            </table>
        </div>

        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">FOLLOWING</h3>
            </div>

            <!-- Table -->
            <table class="table" id="following">
                <tr ng-repeat="following in followingForUser">
                    <td><a ng-href="#/account/{{following.handle}}">{{following.handle}}</a></td>
                </tr>
            </table>
        </div>

        <div ng-include="'/app/message-list.html'" ng-controller="messagesController"></div>

    </div>

</div>


