
<div nav-bar></div>

<div class="container">

<div class="row">

<div class="col-md-4">

<div ng-show="profileimg!=''" class="profile-pic-container"><img src="../assets/{{profileimg}}" class="profile-pic"></div>

<div ng-show="!isLoggedInUser" class="row profile-handle-container">
    <ul class="list-inline">
    <li class="profile-handle"><i class="fa fa-at fa-lg icon-left color-two"></i>{{handle}}</li>
    <li follow-me viewed-user="handle"></li>
    </ul>
</div>

<div ng-show="isLoggedInUser" class="row profile-handle-container">
    <div class="col-sm-10 profile-handle"><i class="fa fa-at fa-lg icon-left color-two"></i>{{handle}}</div>
</div>

<ul class="list-inline">

    <li ng-show="asdasdfdsa" class="user-detail-label">
        Name:
    </li>

    <li ng-show="!showNameInput" class="user-detail-text" ng-class="{'user-detail-logged':isLoggedInUser}">
        <span id="profileName" ng-click="edit('name')">{{name}}</span>
    </li>

    <li ng-show="isLoggedInUser && !showNameInput">
        <input id="editNameBtn" type="button" class="btn btn-link btn-xs" value="Edit" ng-click="edit('name')">
    </li>

    <li ng-show="isLoggedInUser && showNameInput">
        <input id="editNameInput" ng-model="name" class="form-control input-xs">
    </li> 

    <li ng-show="isLoggedInUser && showNameInput">
        <input id="editNameCancelBtn" type="button" class="btn btn-warning btn-xs" ng-click="cancel('name')" value="cancel">
    </li>

    <li ng-show="isLoggedInUser && showNameInput">
        <input id="editNameSaveBtn" type="button" class="btn btn-warning btn-xs" ng-click="save('name')" value="save">
    </li>

</ul>

       
<ul class="list-inline">

    <li ng-show="asdasdfdsa" class="user-detail-label">
        Email:
    </li>

    <li ng-show="!showEmailInput" class="user-detail-text" ng-class="{'user-detail-logged':isLoggedInUser}">
        <span id="profileEmail" ng-click="edit('email')">{{email}}</span>
    </li>

    <li ng-show="isLoggedInUser && !showEmailInput">
        <input id="editEmailBtn" type="button" class="btn btn-link btn-xs" value="Edit" ng-click="edit('email')">
    </li>

    <li ng-show="isLoggedInUser && showEmailInput">
        <input id="editEmailInput" ng-model="email" class="form-control input-xs">
    </li> 

    <li ng-show="isLoggedInUser && showEmailInput">
        <input id="editEmailCancelBtn" type="button" class="btn btn-warning btn-xs" ng-click="cancel('email')" value="cancel">
    </li>

    <li ng-show="isLoggedInUser && showEmailInput">
        <input id="editEmailSaveBtn" type="button" class="btn btn-warning btn-xs" ng-click="save('email')" value="save">
    </li>

</ul>

<div class="" ng-show="followers.length>0">
<p><i class="fa fa-users icon-left color-two"></i> <strong>Followers</strong></p>
<ul class="list-inline" ng-show="followers.length>0" id="followerList">
    <li ng-repeat="follower in followers">
        <a id="follower_{{follower.handle}}" ng-href="#/account/{{follower.handle}}">{{follower.handle}}</a>
    </li>
</ul>
</div>

<div class="" ng-show="following.length>0">
<p><i class="fa fa-users icon-left color-two"></i> <strong>Following</strong></p>
<ul class="list-inline" ng-show="following.length>0" id="following">
    <li ng-repeat="follower in following">
        <a id="following_{{follower.handle}}" ng-href="#/account/{{follower.handle}}">{{follower.handle}}</a>
    </li>
</ul>
</div>

</div>

<div ng-controller="messagesController" class="col-md-4">
    <form name="myForm">
    <div ng-show="isLoggedInUser" class="row" style="margin-bottom:7px">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1)" class="text-center">{{alert.msg}}</uib-alert>
        <form class="form col-md-8" role="search">
            <div class="input-group">
                <input name="messageBox" id="messageBox" type="text" ng-minlength="1" ng-maxlength="45" ng-model="messageText" class="form-control input-sm" placeholder="What's on your mind??">
                <div class="input-group-btn">
                    <button id="addMessage" class="btn btn-prmiary btn-sm" ng-disabled="myForm.messageBox.$error.maxlength" type="submit" ng-click="add()"><i class="fa fa-reply"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="moreCharErr">
        <span class="error" style="font-weight: bold; color: red" ng-show="myForm.messageBox.$error.maxlength">{{mesgLengthError}}</span>
    </div>
    </form>

    <div class="row">
        <div ng-include="'/app/message-list.html'"></div>
    </div>

</div>

</div>

</div>
