

/* 
 * Layout and formatting 
 */

body { padding-top:70px; }
.login-box { margin-top:50px;position:fixed; }
.color-one{ color:#b366ff; }
.color-two{ color:#3333ff; }
.color-three{ color:#ff3377; }
.color-one-bg{ background-color:#b366ff; }
.color-two-bg{ background-color:#3333ff; }
.color-three-bg{ background-color:red; }
.logo {  }
.logo-icon {  }
.logo-title { line-height:normal!important; font-size: 1.5em; }
.icon-left{ margin-right:5px; }
.icon-right{ margin-left:5px; }
.profile-handle-container { margin-bottom:10px; }
.profile-handle { font-size:1.5em; font-weight:600; }
.profile-pic{
  height:200px;
  width:242px;
  border:1px solid #ddd;
}
.profile-pic-container{
  height:201px;
  width:243px;
  margin-bottom: 10px
}
.profile-pic-thumb{
  height:20px;
  width:62px;
  border:1px solid #ddd;
}
.profile-pic-container-thumb{
  height:21px;
  width:63px;
  margin-bottom: 10px
}
.message-box{
  vertical-align: middle;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:3px;
  padding-top:3px;
  border:1px solid #ddd;
  border-radius:5px;   
  -moz-border-radius:5px;
  margin-bottom: 5px;
}
.clickable{ cursor: pointer; }

/* 
 * Annimations 
 */

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.fadein.ng-hide-remove, 
.fadein.not-visible-remove,
.fadeout.ng-hide-add.ng-hide-add-active, 
.fadeout.not-visible-add.not-visible-add-active,
.ng-enter {
  opacity: 0;
}

.fadeout.ng-hide-add,
.fadeout.not-visible-add,
.fadein.ng-hide-remove.ng-hide-remove-active,
.fadein.not-visible-remove.not-visible-remove-active {
  opacity: 1;
}
.page-loading-shadow {
    position: absolute;
    z-index:9998;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: #000000;
  }

.page-loading-container {
    position: absolute;
    z-index:9999;
    top:13%;
    left:58%;
    -webkit-transform: translate(-58%, -13%);  
    transform: translate(-58%, -13%);
}

.page-loading-text {
    font-size: 1.75em;
    color:white;
    text-shadow: 2px 2px 2px #021124;
}
.signup-wrapper {
  width: 392px;
  padding: 30px 0;
  margin: 0 auto;
}
.signuph1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  padding: 0;
  margin-bottom: 24px;
}
.signinP {
  line-height: 12px;
  font-size: 14px;
  color: #8899a6;
}

.termsAndConditionP {
  line-height: 18px;
  font-size: 12px;
  color: #8899a6;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50%!important;
  -moz-border-radius: 50%!important;
  border-radius: 50%!important;
}
.fa-trash:hover {
  color: #ed6b75;
}
.fa-retweet:hover{
  color: #F1C40F;
}
.modal-header{
  background: #c5ccd5;
}

.fa-envira{
  color: #6f9a37;
}
.logo-title{
  color: white;
}
.border-red{ border:1px solid red; }
.border-green{ border:1px solid green; }
